body {
  background: #f8f8f8;
  color: #444;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20pt;
  margin: 0;
}

#content {
  margin: 50px auto;
}

#header {
  margin: 0px auto 20px;
  text-align: center;
  font-weight: normal;
}

#shortcut {
  height: 100px;
  cursor: pointer;
  text-align: center;
  margin: 25px auto;
  padding: 25px 0px;
  font-size: 55pt;
}

#shortcut.editing {
  color: #aaa;
  text-shadow: #fff 0px 1px 1px, #666 0px -1px 1px;
}

#subtext {
  cursor: pointer;
  font-size: 14pt;
  text-align: center;
}

#pageAction_checkbox {
  margin: 25px auto;
  text-align: center;
  font-size: 14pt;
  cursor: pointer;
}

#pageAction_checkbox:before {
  content: "\2713";
  margin-right: 6px;
  font-size: 20pt;
  position: relative;
  top: 2px;
}

#pageAction_checkbox.unchecked:before{
  color: #ccc;
  text-shadow: #fff 0px 1.5px 1px, #666 0px -2px 1px;
  top: 4px;
}


#footer {
  text-align: center;
  font-size: 9pt;
  margin-top: 80px;
  color: #999;
}

#footer a {
  color: #666;
  text-decoration: none;
}
#footer a:hover {
  color: #333;
  text-decoration: underline;
}